.rs-result {
    float: left;
    width: 46%;
    min-height: 200px;
    margin-right: 2%;
    margin-bottom: 20px;
}
.rs-result:nth-of-type(2n+1) {
    clear: left;
}
.rs-result img {
    max-width: 50%;
    max-height: 100%;
}
.rs-metadata {
    float: right;
    width: 48%;
    margin-left: 2%;
}
.rs-result input,
.rs-result input:hover {
    border: none;
    background: transparent none;
    cursor: pointer;
    color: blue;
    padding: 0;
}
.rs-message {
    position: fixed;
    z-index: 100;
    width: 50%;
    margin: 20px 0 0 50px;
    background-color: #edddc7;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid #b5a287;
}
.imageaction,
.showbrowser {
    cursor: pointer;
    color: blue;
}
h2.loading::after {
    font-family: "fontello";
    content: '\e83a';
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    position: absolute;
    margin-left: 15px;
}
.imageaction.loading::after {
    content: '';
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    position: absolute;
    margin: 6px 0 0 10px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #333;
    border-left: 3px solid #999;
    border-bottom: 3px solid #ddd;
    border-radius: 20px;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rsresults .navigation {
    overflow: auto;
    padding: 7px 0;
    margin-bottom: 25px;
}
.rsresults .pagination {
    display: table-cell;
}
.rsresults .pagination li {
    display: inline;
    float: none;
}
.rsresults .pagination .active a {
    background-color: #007bb1;
    color: #ffffff;
}
