.rs-result {
    float: left;
    width: 46%;
    height: 200px;
    margin-right: 2%;
    margin-bottom: 20px;
}
.rs-result img {
    max-width: 50%;
    max-height: 100%;
}
.rs-metadata {
    float: right;
    width: 48%;
    margin-left: 2%;
}
.rs-result input,
.rs-result input:hover {
    border: none;
    background: transparent none;
    cursor: pointer;
    color: blue;
    padding: 0;
}
.imageaction {
    cursor: pointer;
    color: blue;
}
